.mail-index{
    display: grid;
    grid-template-columns: 1fr 6fr auto ;
    grid-template-rows:    0.2fr auto ; 
    gap: 1px ;
    
    
    
    background-color: rgb(230, 234, 236);
    border: solid 1px;
    width: 100%; 
    height: 100%;

    grid-template-areas: " gmail search settings"
                          "folders mails  mails" 
                          
                
}


.folders {
    grid-area: folders;
    
    display: flex;
    flex-direction: column;
    margin-block: 1em;
    padding: 1em;
    gap: 2em;

}
