.mail-index{
    display: grid;
    grid-template-columns: 1fr 6fr auto ;
    grid-template-rows:    0.3fr auto; 
    gap: 1px ;
    
    
    
    background-color: rgb(230, 234, 236);
    border: solid 1px;
    width: 100%; 
    height: 100%;

    grid-template-areas: " gmail   search settings"
                          "folders mails  mails" 
                          
                
}


.settings {
    grid-area: settings;
    justify-self: end;
    align-self: center;
    margin-inline-end: 15px ;
}


.gmail {
    grid-area: gmail;
   
    place-content: center;

    margin-inline-start: 5px;

}

.folders {
    grid-area: folders;
    
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-inline-start: 1em;

}
