.icon{
    align-self: center;
    size: 2em;
}

.icon-starred {
    color: darkkhaki;
    fill: rgb(241, 229, 161);
}


.mail-preview{
    grid-area: mails;
    background-color: azure;

    display: flex;
    flex-direction: row;
    align-content: start;
  
    padding: 0.5em;
    gap: 12px;

    border: solid 0.1px#e6e6e6;
    
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Initial shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
} 

.mail-preview:hover{
    border: solid 2px rgb(206, 206, 206);
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.3); /* Larger shadow for 3D effect */
    /* rgba(100, 121, 143, .12); */
}

.mail-preview.read{
    /* background-color: #f2f2f2; */
    background-color: #e6e6e6;

}

.sender{
    /* width: 70%; */
    background-color: rgb(123, 136, 235);
}

.body{
    background-color: rgb(154, 216, 252);
}




