
.header-image{
    grid-area: gmail;
    align-self: center;
    justify-self: center;
    margin-inline-start: 5px;
    
    display: block;
    margin-inline-start: 0.5em;
    margin-right: auto;
    width: 800%;

}

/* .settings {
    grid-area: settings;
    justify-self: end;
    align-self: center;
    margin-inline-end: 25px ;
    
} */


