.icon{
    align-self: center;
}

.icon-starred {
    fill: gold;
}


.mail-preview{

    grid-area: mails;
    background-color: azure;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
  
    padding: 1em;
    gap: 15px;

    border: solid 0.5px rgb(236, 235, 235);
} 



.sender{
    /* width: 100%; */

    background-color: rgb(123, 136, 235);
}

.body{
    background-color: rgb(154, 216, 252);
}


