
.header-image{
    grid-area: gmail;
    
    justify-self: center;
    align-self: center;
 
    width: 85%;

}

.settings {
    grid-area: settings;
    justify-self: end;
    align-self: center;
    margin-inline-end: 15px ;
}



