.search {
    grid-area: search;
    
    align-self: center;
    justify-self: start;
    margin-inline-start: 2em;
    width: 60%;
    
}

.search-input{
    background-color: rgb(228, 231, 232);
    border-radius: 6px;
    border-color: 2px solid rgb(169, 146, 146);
    
    font-size: 1em; 
    width: 100%;
    
}